<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuickBus">
        <activity
            android:name=".PaymentSuccessful"
            android:exported="false" />
        <activity
            android:name=".Route1"
            android:exported="false" />
        <activity
            android:name=".Schedule2"
            android:exported="false" />
        <activity
            android:name=".Payment"
            android:exported="false" />
        <activity
            android:name=".Booking"
            android:exported="false" />
        <activity
            android:name=".Schedule"
            android:exported="false" />
        <activity
            android:name=".Route"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".Notification"
            android:exported="false" />
        <activity
            android:name=".Setting"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".WelcomeScreen"
            android:exported="false" />
        <activity
            android:name=".OnboardingScreen4"
            android:exported="false" />
        <activity
            android:name=".OnboardingScreen3"
            android:exported="false" />
        <activity
            android:name=".OnboardingScreen2"
            android:exported="false" />
        <activity
            android:name=".OnboardingScreen1"
            android:exported="false" />
        <activity
            android:name=".LaunchScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>